/* Universal */ 

body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgb(231, 160, 133);
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 10px;
}

p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  margin: 5px;
}

/* header */
header {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: chocolate;
  position: fixed;
  top: 0px;
  height: 8rem;
  z-index: 5;
}

#logo {
  background-image: url("../images/bricks-xavi-cabrera-kn-UmDZQDjM-unsplash.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 4rem;
  font-family: "Ranchers", "Arial", sans-serif;
  letter-spacing: 5px;
  color: rgb(255, 255, 255);
  margin: 0;
  
}

header ul {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: auto, 3rem;
}

.nav li {
  font-size: 1.75rem;
  list-style-type: none;
}

.nav li a {
  text-decoration: none;
  color: black;
}
/* main */

main {
  position: relative;
  top: 8rem;
}

/* mission */
#mission {
  text-align: center;
}

#mission p {
  padding: 0px 10%;
  font-style: italic;
}

/* projects */
#projects {
  background-color: cornsilk;
  padding-top: 20px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-image {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin: 2px;
  justify-content: center;
  padding: 10px 5px;
  background-color: darkkhaki;
}

.gallery-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 2px;
  max-height: 200px;
}

figcaption {
  font-style: italic;
}
/* team */


/* footer */