/* Universal */ 

body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: coral;
  margin: 0;
}



/* header */
header {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
  background-color: chocolate;
  position: fixed;
  top: 0px;
  height: 8rem;
}

#logo {
  background-image: url("../images/bricks-xavi-cabrera-kn-UmDZQDjM-unsplash.jpg");
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 4rem;
  font-family: "Ranchers", "Arial", sans-serif;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  
}

header ul {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: auto, 3rem;
}

.nav li {
  font-size: 1.75rem;
  list-style-type: none;
}

.nav li a {
  text-decoration: none;
  color: black;
}
/* main */

main {
  position: relative;
  top: 8rem;
}



/* footer */